@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
body {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 900px repeat(3, 500px) 900px 150px  515px 600px;

}

.header {
    grid-column: 1/5;
    background-image: url(/gridland/images/headerback.png);

    margin: 0;
    height: 100%;
    background-size: cover;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 72px;
    margin-left: 200px;
    margin-top: 365px;
}

.logo {
    position: absolute;
    left: 210px;
    top: 87px;


}

.header>p {
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    margin-left: 200px;
    margin-top: -28px;
}

.menu_button {
    width: 40px;
    height: 50px;
    position: absolute;
    background: url(/gridland/images/menu_button.png);
    right: 230px;
    top: 100px;
}
.adout_left_column {
    grid-column: 1/3;
    grid-row: 2/3;

    background-image: url(/gridland/images/back2.png);

}

.about_right_column>h3 {

    text-transform: uppercase;

    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    color: #666666;
    padding-top: 110px;
    padding-left: 50px;
}

.about_right_column>p {
    position: absolute;
    margin: 0px;
    font-size: 36px;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 50px;


}


.gallery_one {
    grid-column: 1/2;
    grid-row: 3/4;
    background: url(/gridland/images/back3.png);
}




.gallery_two {
    grid-column: 2/3;
    grid-row: 3/4;
    background:url(/gridland/images/back4.png)
   

}

.gallery_three {
    grid-column: 3/4;
    grid-row: 3/4;
    background: url(/gridland/images/back5.gif);
}

.gallery_four {
    grid-column: 4/5;
    grid-row: 3/4;
    background: url(/gridland/images/back6.png);
}

.inst_row_one {
    grid-column: 1/3;
    grid-row: 4/5;
    background:#3f719b;

}
.inst_row_one>h3{
    text-transform: uppercase;

font-family: 'Fira Sans', sans-serif;
font-size: 24px;
color: #f9f9f9;
padding-top: 80px;
padding-left: 50px;

}
.inst_row_one>p{
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    margin: 0px;
    font-size: 36px;
    padding-left: 50px;
    color:#f9f9f9;
    


}
.inst_row_one>a{
    position: absolute;
 margin-top: 170px;
   font-family: 'Fira Sans', sans-serif bold;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
color: #f9f9f9;
margin-left: 55px;
border:1px solid #f9f9f9;
padding: 20px;
border-radius: 30px;
}





.inst_row_two {
  
    grid-column: 3/4;
    grid-row: 4/5;
    background: url(/gridland/images/back7.png);
}

.inst_row_three {
    grid-column: 4/5;
    grid-row: 4/5;
    background:#3f719b
}

.row_four  {
    grid-row: 5/7;
 background: #282b2f;
}

.player {
    grid-row: 5/7;
    grid-column: 2/5;
    background:url(/gridland/images/play.png);
    background-position: center;
    background-repeat: no-repeat;
  
    background-size: cover;
}

.play {
    grid-column: 2/3;
    grid-row: 5/6;
    height: 500px;
    width: 400px;
    background: #212227;
}

  
  .play h2 {
  padding-left: 60px;
  padding-top: 140px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: #2ebd59;
  }
  
  .play h3 {
   
    padding-left: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    color: #2ebd59;
  }
  
  .play ul {
   
    padding: 0;
    padding-top: 30px;
    list-style: none;
  }
  
  .play ul li {
    padding-left: 60px;
    font-size: 14px;
    font-weight: 300;
    color: #f9f9f9;
  }
  
  .play .button {
    display: inline-block;
   margin-left: 60px;
   margin-top: 45px;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #2ebd59;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #2ebd59;
    -webkit-border-radius: 30px;
            border-radius: 30px;
  }
  
  .play .button span {
    display: inline-block;
    border-top: 7px solid transparent;
    border-left: 12px solid #2ebd59;
    border-bottom: 7px solid transparent;
  }
  

.spotify {
    grid-column: 1/3;
    padding-top: 126px;
    padding-right: 7.5%;
    padding-left: 26.5%;
    background-color: #2ebd59;}
    .spotify h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #f9f9f9;
        text-transform: uppercase;

}
.spotify p {
    margin: 0;
    margin-top: 42px;
    font-size: 36px;
    font-weight: 300;
    color: #f9f9f9;
  }
  .spotify .button {
    display: inline-block;
    margin-top: 38px;
    padding: 20px 28px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 3.6px;
    color: #f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #f9f9f9;
    -webkit-border-radius: 30px;
            border-radius: 30px;
  }
  
  .spotify .button:hover {
    opacity: .8;
  }  
.itunes {
    grid-column: span 2;
    padding-top: 126px;
    padding-right: 26.5%;
    padding-left: 7.5%;
    background-color: #282b2f;
  }
  
  .itunes h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #f9f9f9;
    text-transform: uppercase;
  }
  
  .itunes p {
    margin: 0;
    margin-top: 42px;
    font-size: 36px;
    font-weight: 300;
    color: #f9f9f9;
  }
  
  .itunes .button {
    display: inline-block;
    margin-top: 38px;
    padding: 20px 28px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 3.6px;
    color: #f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #f9f9f9;
     border-radius: 30px;
  }
  
 
  .main-footer {
    min-height: 600px;
    grid-column: 1/5;
    background-color: #212227;
  }
  
  .footer-inner {
    padding-top: 100px;
    padding-bottom: 30px;
    margin-right: 210px;
    margin-left: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .box-one {
    width: 280px;
  }
  
  .box-one h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #f9f9f9;
    text-transform: uppercase;
  }
  
  .box-one h2 span {
    display: block;
  }
  
  .box-one .box-one-text {
    margin-top: 32px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #919191;
  }
  
  .box-one .copyright {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #919191;
    text-transform: uppercase;
  }
  
  .box-two {
    width: 180px;
  }
  
  .box-two-contact h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400px;
    color: #f9f9f9;
    text-transform: uppercase;
  }
  
  .box-two-contact .contact-text {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 300px;
    line-height: 1.5;
    color: #919191;
  }
  
  .box-two-contact .contact-text span {
    display: block;
  }
  
  .box-two-follow {
    margin-top: 76px;
  }
  
  .box-two-follow h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400px;
    color: #f9f9f9;
    text-transform: uppercase;
  }
  
  .follow-social {
    margin-top: 30px;
  }
  
  .social {
    position: relative;
    display: block;
    margin: 4px 0;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #919191;
    text-transform: uppercase;
    text-decoration: none;
  }
  

  
  .social-facebook::before, .social-twitter::before, .social-instagram::before, .social-spotify::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    -webkit-background-size: cover;
            background-size: cover;
  }
  
  .social-facebook::before {
    background-image: url(/gridland/images/facebook.svg);
  }
  
  .social-twitter::before {
    background-image: url(/gridland/images/twitter.svg);
  }
  
  .social-instagram::before {
    background-image: url(/gridland/images/instagram.svg);
  }
  
  .social-spotify::before {
    background-image: url(/gridland/images/spotify.svg);
  }
  
  .box-three {
    width: 480px;
  }
  
  .box-three-subscribe h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400px;
    color: #f9f9f9;
    text-transform: uppercase;
  }
  
  .box-three-subscribe .subscribe-text {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #919191;
  }
  
  .subscribe-form {
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 60px;
    background-color: #4d4e52;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #919191;
    text-transform: uppercase;
  }
  
  
  
  .box-three-sponsor {
    margin-top: 80px;
  }
  
  .box-three-sponsor h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #f9f9f9;
    text-transform: uppercase;
  }
  
  .list-sponsor {
    margin-top: 24px;
    display: flex;
  }
  
  .list-sponsor .sponsor {
    margin-right: 10px;
  }